<!-- for creating a new route in order to go the the link(url, express route parameter) and have the below post opened in a new page -->
<%- include('partials/header') -%>

    <h1 class="readMore"><%= inputTitle %></h1>
    <p><%= inputBody %></p>

<%- include('partials/footer') -%>